<div class="container">
  <h2 class="text-center">Our team</h2>
  <ul class="list-inline text-center">
    <% ["alex", "remy"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
